<div class="nice-box col-10 offset-1">

  <h1>Enter your Ledger details:</h1>

  <%= simple_form_for @ledger do |f| %>
    <%= f.input :title %>
    <%= f.submit 'Create', class: 'btn btn-primary' %>
  <% end %>

</div>